Central_TRAE/Fase1_Preparacao_Diagnostico_360/n8n_workflow_agent01.json
{
  "name": "Agente 01 – Acessos & Stakeholders (v1)",
  "nodes": [
    {
      "parameters": {},
      "id": "Start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": { "x": 100, "y": 300 }
    },
    {
      "parameters": {
        "path": "Central_TRAE/Fase1_Preparacao_Diagnostico_360/Acessos_Stakeholders.csv"
      },
      "id": "ReadCSV",
      "name": "Read CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": { "x": 300, "y": 300 }
    },
    {
      "parameters": {
        "operation": "fromBinary",
        "options": {
          "readFileAs": "text",
          "delimiter": ",",
          "headerRow": true
        }
      },
      "id": "CSVtoJSON",
      "name": "CSV to JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": { "x": 520, "y": 300 }
    },
    {
      "parameters": {
        "functionCode": "// Render mensagem usando campos do CSV\nconst template = (row) => `Olá ${row.Nome},\n\nEstamos organizando os acessos para o Diagnóstico 360 (Fase 1). Poderia conceder acesso a ${row.FerramentaSistema} com escopo ${row.Escopo}?\n\n- Dono atual do acesso: ${row.DonoAcesso}\n- Prazo (SLA): ${row.SLA}\n\nCaso precise, podemos enviar detalhes técnicos ou limitar o acesso a leitura.\n\nPor favor, confirme ou compartilhe instruções de concessão.\n\nObrigado,\nEquipe TRAE`;\n\nreturn items.map(i => {\n  const row = i.json;\n  const text = template(row);\n  return { json: { ...row, text } };\n});"
      },
      "id": "BuildMessage",
      "name": "Build Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": { "x": 750, "y": 300 }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.CanalPreferido}}",
              "operation": "equal",
              "value2": "Slack"
            }
          ]
        }
      },
      "id": "PreferredChannel",
      "name": "Preferred Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": { "x": 980, "y": 300 }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "={{$json.text}}",
        "channel": "CHANNEL_ID_OR_NAME"
      },
      "id": "SlackSend",
      "name": "Slack Send",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": { "x": 1210, "y": 180 },
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "",
        "toEmail": "={{$json.Email}}",
        "subject": "Solicitação de acesso – Diagnóstico 360 (Fase 1)",
        "text": "={{$json.text}}"
      },
      "id": "EmailSend",
      "name": "Email Send",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": { "x": 1210, "y": 420 },
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "join": "merge",
        "output": "input1"
      },
      "id": "MergeOutputs",
      "name": "Merge Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": { "x": 1440, "y": 300 }
    },
    {
      "parameters": {
        "functionCode": "// Gerar log textual de envio para evidências\nfunction fmt(row){\n  const ts = new Date().toISOString();\n  return `[${ts}] Canal=${row.CanalPreferido} Email=${row.Email} Ferramenta=${row.FerramentaSistema} StatusSolicitacao=${row.Status || ''}`;\n}\n\nconst text = items.map(i => fmt(i.json)).join('\n');\n\nitems[0].binary = items[0].binary || {};\nitems[0].binary.data = {\n  data: Buffer.from(text).toString('base64'),\n  fileName: `solicitacoes_${Date.now()}.log`,\n  mimeType: 'text/plain'\n};\n\nreturn [items[0]];"
      },
      "id": "BuildLog",
      "name": "Build Log",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": { "x": 1660, "y": 300 }
    },
    {
      "parameters": {
        "fileName": "Central_TRAE/Evidencias_Fase1/01/logs/={{$binary.data.fileName}}",
        "binaryPropertyName": "data"
      },
      "id": "WriteLog",
      "name": "Write Log",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": { "x": 1880, "y": 300 }
    }
  ],
  "connections": {
    "Start": { "main": [ [ { "node": "Read CSV", "type": "main", "index": 0 } ] ] },
    "Read CSV": { "main": [ [ { "node": "CSV to JSON", "type": "main", "index": 0 } ] ] },
    "CSV to JSON": { "main": [ [ { "node": "Build Message", "type": "main", "index": 0 } ] ] },
    "Build Message": { "main": [ [ { "node": "Preferred Channel", "type": "main", "index": 0 } ] ] },
    "Preferred Channel": {
      "main": [
        [ { "node": "Slack Send", "type": "main", "index": 0 } ],
        [ { "node": "Email Send", "type": "main", "index": 0 } ]
      ]
    },
    "Slack Send": { "main": [ [ { "node": "Merge Outputs", "type": "main", "index": 0 } ] ] },
    "Email Send": { "main": [ [ { "node": "Merge Outputs", "type": "main", "index": 1 } ] ] },
    "Merge Outputs": { "main": [ [ { "node": "Build Log", "type": "main", "index": 0 } ] ] },
    "Build Log": { "main": [ [ { "node": "Write Log", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "pinData": {},
  "settings": {},
  "version": 1
}